@use './variaveis' as *;
.main{
    background-color: $backgrond;
    max-width: 600px;
    margin: 8px;
    padding: 8px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        color: $accent;
        font-size: $font-primary;
        text-align: center;
    }
}